#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.todo-item{
  align-items: center;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;  
  border-radius: 25px;
  background: #4d4d4d;
  padding: 20px;
  width: 100vw;
  height: 150px;
  transition: filter 0.3s ease
}
.todo-item:hover{
  filter: drop-shadow(0 0 2em #000000aa);
}

img{
  height: 100%;
}
.todo-container{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 70vw;
  box-sizing: border-box;
  align-self: center; 
}
.todo-item {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  background: #4d4d4d;
  padding: 20px;
  width: 100%;
}
.left-todo{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
}
.todo-content{
  margin-left: 10%;
}
.checkbox-outer{
  border-radius: 25%;
  align-items: center;
  height: 50%;
  display: flex;
  aspect-ratio: 1/1;
  background: #1b1b1baa;
  position: relative;
  transition: filter 0.3s ease
}
.checkbox-outer:hover{
  filter: drop-shadow(0 0 2em #000000aa);
}
.checkbox-middle-checked,
.checkbox-middle-unchecked {
  border-radius: 25%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  height: 70%;
  aspect-ratio: 1/1;
  align-items: center;
  position: relative;
  transition: border-color 0.3s ease, background-color 0.3s ease; /* Transition border and background color */
}

.checkbox-middle-checked {
  border: 5px solid #000000aa; /* Border color for checked state */
  background: #6d6d6daa; /* Background color for checked state */
}

.checkbox-middle-unchecked {
  height: 75%; /* Adjust height for unchecked state */
  background: #000000aa; /* Background color for unchecked state */
}



.addButton{
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  background: #4d4d4d;
  padding: 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 24pt;
  color: white;
  transition: filter 0.3s ease
}

.addButton:hover{
  filter: drop-shadow(0 0 1em #000000aa);
}

.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.description {
  margin: 0;
  text-align: center;
}

.date {
  margin-right: 0;
}

.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.select-dropdown {
  margin-left: 10px;
  margin-right: 10px;
  width: 200px; /* Adjust width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #131313;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

option {
  background-color: #fff;
  color: #000;
}
